hr {
	border-color:#000000!important;
}
#ul-bar {
	padding-left:310px;
	font-size:1.2em;

}

#search-bar {
	border-radius:5%;
	width:80px;
}



.jumbotron{
background-color:#9b9898!important;
color:#ffffff!important;
font-family: 'Courgette', cursive!important;
}

.header-text {
	padding-left:230px;
	color:black!important;
}

#header-text1 {
	padding-left:280px;
}

.h2-text {
	font-size:2.9em;
	padding:0 0 0 100px;
	font-family: 'Courgette', cursive!important;
}


#container {
	height:300px;
	margin-top:-30px;
}


#contact-p {
	text-align:center;
}
#contact-button {
	text-align:center;
}
#feature-section{
	width:100%!important;
}
#image1 {
	height:350px;
	width:350px;
}

#image2 {
	height:350px;
	width:350px;
	margin-bottom:20px;
}

#image3 {
	height:350px;
	width:500px;
	margin-bottom:20px;
}

#row1 {
	padding-top:20px;
}
#carousel-gallery {
	padding-top:1500px;
}
.slide {
	margin:0 auto;
	height:500px;
	width:500px;
}
